*{
  margin: 0;
  padding: 0;
  padding:0;
}

body{
  max-width: 80%;
  Margin: auto;
  font-family: 'Trocchi', serif;
}

/* Navigation styling */
.logo{
  width: 25%;
  height: 25%;
}
.nav{
  width:100%;
  margin:auto;
  text-align: center;
  padding-bottom: 2vh;
}
.nav-bar {
  list-style-type: none;
  background-color: rgb(30,30,30);
  width: 100%;
}
.nav-bar li{
  display:inline-block;
}

.nav-bar li a{
  text-decoration: none;
  color:white;
}

.nav-bar li a:hover{
  color:rgb(255, 60, 60);
}
.right-nav{
  padding-left: 50px;
}

.productsFormContainer{
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.productsFormContainer2{
  border-top:3px solid black;
  border-bottom: 3px solid black;
}

.cartBtn{
  text-align: center;
}
.productsForm{
  display: inline-block;
  width:35%;
  margin-left: 2vw;
  margin-right: 2vw;
}

.productsForm img{
  height:30vh;
  width:20vw;
}

/*
  cart/cart.php
*/

.cartItem{
  border:2px solid black;
  width:80%;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 5px 5px 10px #888888;
}

.cartItem img{
  height: 100px;
  width: 150px;
  text-align: left;
}

.cartItemHeader{
  position: relative;
  bottom:4vh;
  left:10px;
  display: inline-block;
}

.price{
  color: green;
}

.cartQtyBox{
  display: block;
}

.qtyBoxAndLabel h3{
  display: inline-block;
}

.qtyBoxAndLabel input{
  display: inline-block;
  width:50px;
}

/*
  Footer Below
*/

.pre-footer{
  width: 100%;
  height:1vh;
  background-color:rgb(255,60,60);
}

footer{
  background-color:rgb(30,30,30);
  width: 100%;
  color:white;
  height:3.5em;
}

footer h2{
  padding-top:.4em;
  text-align: center;
}


/*
  Home Below
*/


.paintballCarosel{
  width: 96%;
  height:90%;
  margin: 0 auto;
}

.paintballCaroselWrapper{
  width: 100%;
  margin: 0 auto;
  background-color: rgb(30,30,30);
}


/*
  Add Product Below
*/

.addProduct{
  margin-top: 500px;
  margin: 0 auto;
  text-align: center;
  width:30%;
}

.addProductWrapper{
  border:2px solid black;
}

.imgPreview{
  display: block;
  height: 200px;
  width:60%;
  margin: auto;
}

#chooseFile{
  display: block;
}

#addProduct{
  padding:10px 20px 10px 20px;
  background-color: rgb(30,170,30);
}

/* Employee About Us Page   */
.employeeList{
  width:75%;
  margin: auto;
  text-align: center;
}

.employeeList img{
  display: block;
  text-align: center;
}

.employee{
  margin: auto;
  text-align: center;
  display: inline-block;
  width:25%;
}
.employee img{
  width: 75%;
  height: 75%;
  margin: auto;
}

/* Admin About Page*/
#addEmp{
  display: block;
  float: right;
}
.employee p{
  text-align: left;
}

.employee input{
  display: block;
  text-align: left;
}

.empTextBoxes{
  padding-left: 1.87vw;
}

.changeEmpSub{
  text-align: center;
}
